@tailwind base;

body {
  background: url("/static/background.svg");
  background-size: 160px auto;
  border: 1rem solid white;
}

.cocktail:not(:last-child) {
  @apply border-b;
}

.input {
  @apply py-1 italic border-b;
}

.input:focus {
  @apply outline-none;
}

.slide {
  min-height: calc(100vh - 2rem);
}

@tailwind utilities;
